@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto+Slab:wght@300;900&display=swap');

.form-container {
  margin: 2.375rem 6.25rem 2.375rem 6.25rem;
  border-top: solid 0.125rem #e8e8e8;
}

h3 {
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}